.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .card {
  position: relative;
  width: 220px;
  height: 250px;
  background: black;
}
