.advantage-container{
    border: 3px solid red;
    /* height: auto;
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 1rem;
    background-image: linear-gradient(210deg, white 0%, 
        white 50%, lightgreen) */
}

.advantage-images{
    border: 2px solid blue;
   /
}

.advantage-topic{
    border: 2px solid green;
/
}

.advantage-topic-item{

    margin-bottom: 1rem;
    padding: 1rem;
    cursor: pointer;

}

.advantage-topic-item-header{
    font-size: 1.2rem;
    color:#499557;
    font-weight: 600;
}

.advantage-topic-item-sub-header{
     font-size: 0.9rem;
    color:#333333;
    font-weight: 400;
}

.advantage-topic-sub-heading{
    color:#499557;
}
